<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/alumnos/list">Articulo</a>
  </li>
  <li class="breadcrumb-item active">Actualizar</li>
</ol>
<h1>Actualizar articulos</h1>
<form action="/alumnos/update/<%= alumnos.id  %>" method="post">
  <div class="form-group">
    <label for="nombre">Articulo:</label>
    <input type="text" name="title" class="form-control" placeholder="Nombre(s) del articulo" value="<%= alumnos.title  %>">
  </div>
  <div class="form-group">
    <label for="apellidos">Descripcion:</label>
    <input type="text" name="body" class="form-control" placeholder="Descripcion del articulo" value="<%= alumnos.body  %>">
  </div>
  <input type="submit" value="Actualizar" class="btn btn-success">
</form>
