<center>
    <h1 class="display-4">ARTICULOS</h1>
<p class="mb-4">..:::Administracion de articulos::..</p>
<a href="/alumnos/list" class="btn btn-ligt">Articulos</a>
<a href="/alumnos/add" class="btn btn-ligth">Nuevo articulo</a>
<br>
<br>
<img src="./images/sails.png" width="800">
</center>